---
import IconMapPin from '@tabler/icons/outline/map-pin.svg';
---

<footer data-anim="fade" id="contacto" class="mx-[clamp(1.25rem,2.6vw,3.5rem)] mt-4 flex flex-wrap justify-between gap-[1.2rem] border-t border-[#3a3e3e] py-8 pb-10">
  <div>
    <img class="h-10 mb-3" src="/logos/MHE-06.svg" alt="MHE Logo">
    <a href="https://www.google.com/maps/place/MHE+indumentaria+Mayorista/@-33.1262169,-64.3419488,19z/data=!3m1!4b1!4m22!1m15!4m14!1m6!1m2!1s0x95d20008e1332ec5:0xb8896c87f6afadbb!2sV%C3%A9lez+Sarsfield+756,+X5800+R%C3%ADo+Cuarto,+C%C3%B3rdoba,+Argentina!2m2!1d-64.3413051!2d-33.126218!1m6!1m2!1s0x95d201002a9baa7d:0x8952ac237037d63e!2sMHE+indumentaria+Mayorista,+V%C3%A9lez+Sarsfield+756,+X5800+R%C3%ADo+Cuarto,+C%C3%B3rdoba!2m2!1d-64.3412952!2d-33.1261892!3m5!1s0x95d201002a9baa7d:0x8952ac237037d63e!8m2!3d-33.126218!4d-64.3413051!16s%2Fg%2F11zbqb0dn4?entry=ttu&g_ep=EgoyMDI2MDUyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="flex items-center gap-1 text-[0.8rem] tracking-[0.08em] text-[#b6b9b9] uppercase hover:text-[#eceeee] transition">
      <IconMapPin class="h-5 mb-1" />Vélez Sarsfield 756, Río Cuarto 5800
    </a>
  </div>
  <!-- <div class="grid gap-2">
    <a href="mailto:production@mhe.ind" class="text-[0.8rem] tracking-[0.08em] text-[#b6b9b9] uppercase">production@mhe.ind</a>
    <a href="tel:+5403580000000" class="text-[0.8rem] tracking-[0.08em] text-[#b6b9b9] uppercase">+54 0358 000 0000</a>
  </div> -->
</footer>